*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
		url(../fonts/AvenirNextCyr-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
		url(../fonts/AvenirNextCyr-Light.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Demi'),
		url(../fonts/AvenirNextCyr-Demi.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.container{
    width: 1320px;
    margin: auto;
}

.newCont{
    width: 1380px;
    margin: auto;
}

header{
    background-color: rgb(50, 50, 50);
}

.innerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 0px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.logoSpace{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    transition: .1s ease-in-out;
    position: relative;
    z-index: 0;
    width: 156px;
    height: 38px;
    user-select: none;
}

.navSpace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navSpace a{
    padding-right: 30px;
    user-select: none;
}

.searchLoop{
    transition: .4s ease;
    width: 16px;
    height: 16px;
    padding-right: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

#searchWord{
    transition: .3s ease;
    user-select: none;
}

.innerHeader a, p{
    font-size: 17px;
    font-family: 'Avenir Next Cyr';
    color: white;
    cursor: pointer;
}

.searchSpace{
    position: absolute;
    top: -66px;
    left: 0;
}

#searchbar{
    opacity: 0%;
    transition: .2s ease;
    background-color: transparent;
    text-align: center;
    padding: 8px 6px;
    width: 1368px;
    border: transparent;
    border-radius: 10px;
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    border: solid 1px rgb(230, 230, 230);
}

#getSearch{
    visibility: hidden;
}

.avatarSpace{
    flex-direction: row;
    align-items: center;
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

.avatarSpace img{
    user-select: none;
}

.avatarSpace p{
    padding-left: 10px;
    user-select: none;
}

.modalWindLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    opacity: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 20;
    padding: 80px 30px;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 5px 20px 0px rgb(73, 73, 73);
    transition: .2s ease-in-out;
}

.modalWindReg{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    opacity: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 20;
    padding: 80px 30px;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 5px 20px 0px rgb(73, 73, 73);
    transition: .2s ease-in-out;
    visibility: hidden;
}

.regTitle{
    color: #3E4347;
    font-size: 24px;
    text-align: center;
    font-family: 'Avenir Next Cyr';
    padding-bottom: 40px;
    user-select: none;
}

.overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: .3s ease-in-out;
}

.question{
    font-size: 14px;
    color: rgb(170, 170, 170);
    padding-top: 40px;
    cursor: pointer;
    font-family: 'Avenir Next Cyr';
}

.modalWindReg{

}

.logForm{
    display: flex;
    width: 200px;
    flex-direction: column;
}

.logForm input{
    padding: 8px 0px;
    margin: 10px 0px;
    border: solid #b3b3b3 0.4px;
    border-radius: 4px;
    padding: 8px 15px;
}

#cross{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

#avatar{
    cursor: pointer;
    width: 28px;
    height: 28px;
}

/* ---------- тело  ---------- */

body{
    background-color: #f4f4f4;
}

.bodyContent{
    margin: auto;
    display: flex;
    width: 1380px;
    justify-content: space-between;
    margin-top: 40px;
    transition: .1s ease;
}

.leftPart{
    background-color: white;
    width: 14%;
    padding-left: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: solid 1px rgb(230, 230, 230);
}

.fullscreen{
    position: absolute;
    right: 0;
    padding: 20px 20px;
}

#fullscreen{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url(/img/fullscreen.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease-in-out;
    opacity: 60%;
}

.categories{
    line-height: 30px;
    width: 120px;
    padding-top: 20px;
}

.categories a{
    font-size: 18px;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    color: #3E4347;
}

.rightPart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    border-radius: 10px;
}

.news{
    background-color: white;
    border: solid 1px rgb(230, 230, 230);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.popular{
    background-color: white;
    border: solid 1px rgb(230, 230, 230);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.partTitle{
    color: #3E4347;
    font-family: 'Avenir Next Cyr';
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    user-select: none;
}

.films{
    display: flex;
    width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preview{
    background-image: url(../img/preview.png);
}

.preview1{
    background-image: url(../img/preview1.png);
}

.preview2{
    background-image: url(../img/preview2.png);
}

.preview3{
    background-image: url(../img/preview3.png);
}

.preview4{
    background-image: url(../img/preview4.png);
}

.preview5{
    background-image: url(../img/preview5.png);
}

.preview6{
    background-image: url(../img/preview6.jpg);
}

.preview7{
    background-image: url(../img/preview7.png);
}

.preview8{
    background-image: url(../img/preview8.jpg);
}

.preview9{
    background-image: url(../img/preview9.png);
}

.preview10{
    background-image: url(../img/preview10.png);
}

.preview11{
    background-image: url(../img/preview11.png);
}

.preview12{
    background-image: url(../img/preview12.png);
}

.preview13{
    background-image: url(../img/preview13.png);
}

.preview14{
    background-image: url(../img/preview14.png);
}

.preview15{
    background-image: url(../img/preview15.jpg);
}

.showMore{
    display: flex;
    justify-content: flex-end;
    font-family: 'Avenir Next Cyr';
    font-size: 18px;
    font-weight: normal;
    margin-top: -18px;
    user-select: none;
}

.showMore a{
    width: 150px;
    color: #3E4347;
}

.darkMode{
    background-color: rgba(0, 0, 0, 0.774);
    width: 260px;
    height: 370px;
    border-radius: 4px;
    opacity: 100%;
    transition: .1s ease;
}

.filmTitle{
    color: #ffffff;
    font-family: 'Avenir Next Cyr';
    font-size: 24px;
    font-weight: 300;
    z-index: 1;
    bottom: 0;
    padding-bottom: 50px;
    transition: .2s ease;
    padding-left: 10px;
    position: absolute;
}

.filmDate{
    color: #e7e5e5;
    font-family: 'Avenir Next Cyr';
    font-size: 16px;
    font-weight: 300;
    z-index: 1;
    bottom: 0;
    padding-bottom: 30px;
    transition: .2s ease;
    padding-left: 10px;
    position: absolute;
}

.preview, .preview1, .preview2, .preview3, .preview4, .preview5, .preview6, .preview7, .preview8, .preview9, .preview10, .preview11, .preview12, .preview13, .preview14, .preview15{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 260px;
    height: 370px;
    border-radius: 10px;
    margin-bottom: 34px;
    transition: .1s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.filmInfo, .filmInfo1, .filmInfo2, .filmInfo3, .filmInfo4, .filmInfo5, .filmInfo6, .filmInfo7, .filmInfo8, .filmInfo9, .filmInfo10, .filmInfo11, .filmInfo12, .filmInfo13, .filmInfo14, .filmInfo15, .filmInfo16, .filmInfo17, .filmInfo18, .filmInfo19{
    transition: .1s ease-out;
    opacity: 0%;
}

footer{
    background-color: rgb(50, 50, 50);
    align-items: center;
}

.innerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 17px 0px;
}

.footerLink{
    color: white;
    font-family: 'Avenir Next Cyr';
    font-size: 17px;
}

/* ----------  события мыши  ---------- */

#searchbar:focus{
    outline: none;
}

#searchbar:focus::placeholder{
    color: white;
    opacity: 0%;
}

#fullscreen:focus{
    outline: none;
}

#fullscreen:hover{
    transform: scale(1.05) perspective(1px);
    transition: .1s;
}

.categories a:hover{
    color: #fea228;
}

.hover:hover{
    transform: translateY(-5px) perspective(1px);
}

.showMore a:hover{
    color: #fea228;
}

.question:hover{
    color: rgb(32, 32, 32);
}

.logForm input:focus{
    outline: none;
    border: 1px solid #fea228;
}

.navSpace a:hover{
    color: #fea228;
}

.footerLink:hover{
    color: #fea228;
}

/* ----------  псевдоэлементы  ---------- */

::selection{
    background-color: #fea12891;
}

.logForm input::placeholder{
    color: #828282;
}

#searchbar::placeholder{
    color: #303030;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    font-size: 16px;
    padding-left: 4px;
}
