<!DOCTYPE html>
<html lang = 'en' id = 'switch'>
<head>
    {% load static %}
    <meta charset = 'UTF-8'>
    <title>KinoBoom -- Подписка</title>
    <link rel = 'stylesheet' href = '{% static "css/style.css" %}'>
    <link rel = 'stylesheet' href = '{% static "css/animations.css" %}'>
    <link rel = 'icon' href = '{% static "favicon.ico" %}' type = 'image/x-icon'>
    <script type = 'text/javascript' src = '{% static "js/main.js" %}'></script>
</head>
<header id = 'header'>
    <div class = 'innerHeader container'>
        <div class = 'logoSpace'>
            <a href = '{% url "index" %}'>
                <img src = '{% static "img/logo.svg" %}' alt = 'logo' id = 'logo'>
            </a>
        </div>
        <div class = 'navSpace'>
            <a href = '{% url "films" %}' class = 'getOrange'>
                Фильмы
            </a>
            <a href = '{% url "serials" %}' class = 'getOrange'>
                Сериалы
            </a>
            <a href = '{% url "podpiska" %}' class = 'getOrange'>
                Подписка
            </a>
        </div>
        {% if logged == False %}
        <div class = 'avatarSpace'>
            <p onclick = 'modalOpen()'>
                Войти
            </p>
            <img onclick = 'modalOpen()' id = 'avatar' data-modal = 'modalOpen' src = '{% static "img/user.svg" %}' alt = 'user'>
        </div>
    </div>
    <img src = '{% static "img/fullscreen.svg" %}' alt = 'fullscreen' id = 'fullscreen' onclick = 'fullscreen()'>
    {% else %}
    <div class = 'avatarSpace'>
        <a href = '{% url "cabinet" %}' class = 'linkk'>
            Аккаунт
        </a>
        <a href = '{% url "cabinet" %}'>
            <img id = 'avatar' src = '{% static "img/man.svg" %}' alt = 'user'>
        </a>
    </div>
    {% endif %}
    <div class = 'modalWindLogin' id = 'modalWindLogin' data-modal = 'modalOpen'>
        <img src = '{% static "img/cross.svg" %}' alt = 'close' onclick = 'modalClose()' id = 'cross'>
        <p class = 'regTitle'>
            Войти
        </p>
        <form action = '' class = 'logForm' method = 'post'>
            {% csrf_token %}
            <input type = 'text' placeholder = 'Логин' name = 'userLog'>
            <input type = 'password' placeholder = 'Пароль' name = 'userPass'>
            <input type = 'submit' value = 'войти' name = 'login'>
        </form>
        <p class = 'questionLog' onclick = 'modalChangeReg()' id = 'question'>
            Зарегистрироваться
        </p>
    </div>
    <div class = 'modalWindReg' id = 'modalWindReg' data-modal = 'modalOpen'>
        <img src = '{% static "img/cross.svg" %}' alt = 'close' onclick = 'modalClose()' id = 'cross'>
        <p class = 'regTitle'>
            Регистрация
        </p>
        <form action = '' class = 'logForm' method = 'post'>
            {% csrf_token %}
            <input type = 'text' placeholder = 'Логин' name = 'userLog'>
            <input type = 'text' placeholder = 'Почта' name = 'userMail'>
            <input type = 'password' placeholder = 'Пароль' name = 'userPass'>
            <input type = 'submit' value = 'зарегистрироваться' name = 'reg'>
        </form>
        <p class = 'questionReg' onclick = 'modalChangeLog()' id = 'question'>
            Войти
        </p>
    </div>
</header>
<div class = 'overlay' id = 'overlay'>
        
</div>
<div class = 'searching container' id = 'searching'>
    <form action = '' class = 'searchSpace' id = 'searchSpace' autocomplete = 'off'>
        <input autocomplete = 'off' type = 'text' placeholder = 'Поиск фильмов' name = 'userSearch' id = 'searchbar'>
        <input type = 'submit' id = 'getSearch'>
    </form>
</div>
<body>
    <div class = 'bodyContent' id = 'bodyContent'>
        <div class = 'mainPart'>
            <img src = '{% static "img/premium.png" %}' alt = 'subscription' class = 'subscription animate__animated animate__bounceIn'>
            <p class = 'aboutText'>
                С подпиской на КиноBoom вы:
            </p>
            <img src = '{% static "img/arrow.svg" %}' alt = 'down' class = 'arrow sliding'>
            <div class = 'part'>
                <img src = '{% static "img/money.png" %}' alt = 'thanks' class = 'gold animate__animated animate__bounceIn'>
                <p class = 'subText'>
                    Поощрите работу сервиса <br> и его создателя
                </p>
            </div>
            <img src = '{% static "img/arrow.svg" %}' alt = 'down' class = 'arrow sliding'>
            <div class = 'part'>
                <p class = 'subText'>
                    Получите доступ к <br> эклюзивным фильмам
                </p>
                <img src = '{% static "img/lock.png" %}' alt = 'thanks' class = 'lock animate__animated animate__bounceIn'>
            </div>
            <img src = '{% static "img/arrow.svg" %}' alt = 'down' class = 'arrow sliding'>
            <p class = 'cost subText'>
                Стоимость подписки всего 169руб в месяц
            </p>
            <button class = 'get'>
                Оформить
            </button>
        </div>
    </div>
</body>
<footer>
    <div class = 'innerFooter container'>
        <div class = 'about' id = 'about'>
            <p>
                KinoBoom - это сервис для просмотра любимых фильмов и сериалов в компании, а также одному, если с компанией не хочется делиться попкорном. Ужасы проверят ваши нервы, а боевики захватят своим экшеном. <br><br> Приятного просмотра! <br><br> Для зарегистрированных пользователей открываются дополнительные возможности.
            </p>
        </div>
        <p class = 'getOrange' onclick = 'aboutOpen()'>
            Что такое KinoBoom
        </p>
        <a class = 'footerLink getOrange' href = 'https://vk.me/moneysend/asslocker'>
            Поддержать проект
        </a>
        <a class = 'footerLink getOrange' href = 'https://vk.com/write403091284'>
            По всем вопросам
        </a>
    </div>
</footer>
</html>