<!DOCTYPE html>
<html lang = 'en' id = 'switch'>
<head>
    {% load static %}
    <meta charset = 'UTF-8'>
    <title>KinoBoom</title>
    <link rel = 'stylesheet' href = '{% static "css/style.css" %}'>
    <link rel = 'icon' href = '{% static "favicon.ico" %}' type = 'image/x-icon'>
    <script type = 'text/javascript' src = '{% static "js/main.js" %}'></script>
</head>
<header id = 'header'>
    <div class = 'innerHeader container'>
        <div class = 'logoSpace'>
            <a href = '{% url "index" %}'>
                <img src = '{% static "img/logo.svg" %}' alt = 'logo' id = 'logo'>
            </a>
        </div>
        <div class = 'navSpace'>
            <a href = '{% url "films" %}' class = 'getOrange'>
                Фильмы
            </a>
            <a href = '{% url "serials" %}' class = 'getOrange'>
                Сериалы
            </a>
            <a href = '{% url "podpiska" %}' class = 'getOrange'>
                Подписка
            </a>
        </div>
        <div class = 'avatarSpace'>
            <a href = '{% url "cabinet" %}' class = 'linkk'>
                Аккаунт
            </a>
            <a href = '{% url "cabinet" %}'>
                <img id = 'avatar' src = '{% static "img/man.svg" %}' alt = 'user'>
            </a>
        </div>
    </div>
</header>
<div class = 'overlay' id = 'overlay'>
    
</div>
<img src = '{% static "img/fullscreen.svg" %}' alt = 'fullscreen' id = 'fullscreen' onclick = 'fullscreen()'>
<body>
    <div class = 'bodyContent' id = 'bodyContent'>
        <div class = 'mainPart'>
            <div class = 'fullInfo'>
                <div class = 'infoLeft'>
                    <div class = 'keys'>
                        <p>
                            Название
                        </p>
                        <p>
                            Жанр
                        </p>
                        <p>
                            Рейтинг
                        </p>
                        <p>
                            Дата выхода
                        </p>
                        <p>
                            Возрастное ограничение
                        </p>
                    </div>
                    <div class = 'values'>
                        <p>
                            {{serial.serial_title}}
                        </p>
                        <p>
                            {{serial.serial_genre}}
                        </p>
                        <p>
                            {{serial.serial_raiting}}
                        </p>
                        <p>
                            {{serial.serial_date_release}}
                        </p>
                        <p>
                            {{serial.serial_age_limit}}
                        </p>
                    </div>
                </div>
                <div class = 'playFill'>
                    <div class = 'cover'>

                    </div>
                    <div class = 'fill'>
                        
                    </div>
                    <img src = '{% static "img/play.svg" %}' alt = 'play' class = 'play'>
                    <img src = '/media/{{serial.path_to_the_image}}' alt = 'preview' class = 'filmPrev'>
                </div>
                <div class = 'infoRight'>
                    <p>
                        {{serial.serial_description}}
                    </p>
                </div>
            </div>
            <div class = 'playerPart'>
                <video src = 'https://2ch.hk/b/src/247294918/16218058563510.mp4' class = 'player' controls>

                </video>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class = 'innerFooter container'>
        <div class = 'about' id = 'about'>
            <p>
                KinoBoom - это сервис для просмотра любимых фильмов и сериалов в компании, а также одному, если с компанией не хочется делиться попкорном. Ужасы проверят ваши нервы, а боевики захватят своим экшеном. <br><br> Приятного просмотра! <br><br> Для зарегистрированных пользователей открываются дополнительные возможности.
            </p>
        </div>
        <p class = 'getOrange' onclick = 'aboutOpen()'>
            Что такое KinoBoom
        </p>
        <a class = 'footerLink getOrange' href = 'https://vk.me/moneysend/asslocker'>
            Поддержать проект
        </a>
        <a class = 'footerLink getOrange' href = 'https://vk.com/write403091284'>
            По всем вопросам
        </a>
    </div>
</footer>
</html>